{%- liquid
    assign product = all_products[settings.cart_product_gift]
    assign product_downcase = product | downcase
    assign id = product.selected_or_first_available_variant.id | minus: 0
    
    assign check = false
    for item in cart.items
      if item.id == id
        assign check = true   
      endif
    endfor
-%}
{% unless cart == empty %}

    <h5 class="mini-cart__heading mb--40 mb-lg--30">Shopping Cart</h5>
    <div class="mini-cart__content">
        <ul class="mini-cart__list">
            {%- for item in cart.items -%}
                <li class="mini-cart__product">
                    <a href="#" class="remove-from-cart remove previewCartItem-remove" data-cart-remove data-cart-remove-id="{{ item.id }}" data-line="{{ item.key }}" title="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                        <i class="dl-icon-close"></i>
                    </a>
                    <div class="mini-cart__product__image">
                        <img src="{{ item.image | img_url: '110x' }}" width="70" height="{{ 91 | divided_by: item.image.aspect_ratio | round }}" alt="{{ item.title | escape }}">
                    </div>
                    <div class="mini-cart__product__content">
                        <a class="mini-cart__product__title" href="{{ item.url }}">{{ item.product.title }}</a>
                        <span class="mini-cart__product__quantity">
                            {%- assign current_variant = item.variant -%}
                            {% if item.original_price != item.final_price %}
                                <span class="previewCartItem-saving-price">
                                    <s class="before-discount-price" data-item-original-price-display>
                                       {{ item.original_price | money }}
                                    </s>
                                    <span class="discounted-price" data-item-final-price-display>
                                        {{ item.final_price | money }}
                                    </span>
                                </span>
                            {% elsif current_variant.compare_at_price > current_variant.price %}
                                <span class="previewCartItem-saving-price saved_compare_price" data-price-from-compare>
                                    <s class="before-discount-price">
                                        {{ current_variant.compare_at_price | money }}
                                    </s>
                                    <span class="discounted-price">
                                        {{ item.quantity }} x {{ current_variant.price | money }}
                                    </span>
                                </span>
                            {% else %}
                                <span data-item-final-price-display>
                                    {{ item.quantity }} x {{ item.price | money }}
                                </span>
                            {% endif %}
                        </span>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="mini-cart__total">
            <span>Subtotal</span>
            <span class="ammount">{{ cart.original_total_price | money }}</span>
        </div>
        <div class="mini-cart__total">
            <span>Total</span>
            <span class="ammount">{{ cart.total_price | money }}</span>
        </div>
        <div class="mini-cart__buttons">
            <a href="{{ routes.cart_url }}" class="btn btn-fullwidth btn-style-1">View Cart</a>
            <a href="{{ routes.cart_url | split: '/cart' | first }}/checkout" class="btn btn-fullwidth btn-style-1">Checkout</a>
        </div>
    </div>

{% else %}
    <div class="previewCart">
        <div class="previewCart-emptyBody text-center">
            <div class="empty">
                <div class="empty-icon">
                    {% render 'icon-cart-03' %}
                </div>
                <span class="text">
                    {{ 'sections.cart.empty' | t }}
                </span>
            </div>
            <a class="button button-2 button-continue"
                {% if settings.quick_cart_redirect_button == 'go_back' %}
                    role="link" aria-disabled="true"
                    onclick="window.history.back();"
                {% elsif settings.quick_cart_redirect_button == 'link_to' %}
                    href="{{ settings.quick_cart_redirect_button_link }}"
                {% else %}
                    role="link" aria-disabled="true"
                    onclick="window.location.reload();"
                {% endif %}
            >
                {{ 'sections.cart.continue_shopping' | t }}
            </a>
        </div>
    </div>
{% endunless%}
