
<style>
.caption_title-{{section.id}} {
    color: {{ section.settings.color_text }};
      font-size: {{ section.settings.font_size_text | append: 'px !important' }};
      font-style: {{ section.settings.font_style_text }};
      font-weight: {{ section.settings.font_weight_text }};
}

.custom-text-{{section.id}} {
    color: {{ section.settings.color_text }};
      font-size: {{ section.settings.font_size_text_heading_2 | append: 'px !important' }};
      font-weight: {{ section.settings.font_weight_text_heading_2 }};
}
</style>
<section>
    <div class="service-wrapper">
        <div class="container">
            <div class="row align-items-center">
                {%- for block in section.blocks -%}
                <div class="col-lg-3 col-md-6 col-sm-6">  
                    <div class="service-box">
                        <style>
                            .caption_title-{{block.id}} {
                               color:{{ block.settings.color_text }} !important;
                            }
                            .custom-text-{{block.id}}{
                              color:{{ block.settings.color_text }} !important;
                            }
                           
                            </style >
                        <div class="service-icon">
                            <figure>
                                {% if block.settings.factsimage != blank %}
                                    <img src="{{ block.settings.factsimage | img_url: 'large' }}" alt="Your Alt Text">
                                     {% endif %}
                            </figure>
                        </div>
                        <div class="service-content">
                            <h3 class="caption-heading caption_title-{{block.id}} caption_title-{{section.id}}">{{ block.settings.title }}</h3>
                            <p class="custom-text-{{block.id}} custom-text-{{section.id}}">{{ block.settings.sub_title }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}     
            </div>  
        </div>
        <div class="service-bg"></div>
    </div>
</section>

{% schema %}
{
    "name": "t:sections.facts.name",
    "max_blocks": 4,
    "settings":[
    {
            "type": "range",
            "id": "font_size_text",
            "label": "t:settings_schema.typography.settings.font_size.label",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 12
    },
        {
            "type": "select",
            "id": "font_style_text",
            "label": "t:settings_schema.typography.settings.font_style.label",
            "default": "normal",
            "options": [
            {
                "value": "normal",
                "label": "t:settings_schema.typography.settings.font_style.options__1"
            },
            {
                "value": "italic",
                "label": "t:settings_schema.typography.settings.font_style.options__2"
            },
            {
                "value": "oblique",
                "label": "t:settings_schema.typography.settings.font_style.options__3"
            }]
        },
        {
            "type": "select",
            "id": "font_weight_text",
            "label": "t:settings_schema.typography.settings.font_weight.label",
            "default": "500",
            "options": [
            {
                "value": "400",
                "label": "t:settings_schema.typography.settings.font_weight.options__1"
            },
            {
                "value": "500",
                "label": "t:settings_schema.typography.settings.font_weight.options__2"
            },
            {
                "value": "600",
                "label": "t:settings_schema.typography.settings.font_weight.options__3"
            },
            {
                "value": "700",
                "label": "t:settings_schema.typography.settings.font_weight.options__4"
            },
            {
                "value": "800",
                "label": "t:settings_schema.typography.settings.font_weight.options__5"
            },
            {
                "value": "900",
                "label": "t:settings_schema.typography.settings.font_weight.options__6"
            }]

        },
        
        {
            "type": "range",
            "id": "font_size_text_heading_2",
            "label": "t:settings_schema.typography.settings.font_size.label",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 12
        },
        {
            "type": "select",
            "id": "font_style_text_heading_2",
            "label": "t:settings_schema.typography.settings.font_style.label",
            "default": "normal",
            "options": [
            {
                "value": "normal",
                "label": "t:settings_schema.typography.settings.font_style.options__1"
            },
            {
                "value": "italic",
                "label": "t:settings_schema.typography.settings.font_style.options__2"
            },
            {
                "value": "oblique",
                "label": "t:settings_schema.typography.settings.font_style.options__3"
            }]
        },
        {
            "type": "select",
            "id": "font_weight_text_heading_2",
            "label": "t:settings_schema.typography.settings.font_weight.label",
            "default": "500",
            "options": [
            {
                "value": "400",
                "label": "t:settings_schema.typography.settings.font_weight.options__1"
            },
            {
                "value": "500",
                "label": "t:settings_schema.typography.settings.font_weight.options__2"
            },
            {
                "value": "600",
                "label": "t:settings_schema.typography.settings.font_weight.options__3"
            },
            {
                "value": "700",
                "label": "t:settings_schema.typography.settings.font_weight.options__4"
            },
            {
                "value": "800",
                "label": "t:settings_schema.typography.settings.font_weight.options__5"
            },
            {
                "value": "900",
                "label": "t:settings_schema.typography.settings.font_weight.options__6"
            }]

        }
    
  ],
    "blocks": [
        {
            "type": "facts",
            "name": "Facts",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "factsimage",
                    "label": "Fact Image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "enter text"
                },

                {
                     "type": "color",
                   "id": "color_text",
                   "label": "t:settings_schema.colors.settings.colors_text.label__1",
                    "default": "#b05d5d"
                  },
                {
                    "type": "text",
                    "id": "sub_title",
                    "label": "Sub Title",
                    "default": "enter text"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "t:sections.facts.name"
        }
    ]
}
{% endschema %}
