<style>

    
.product-wrapper .sec-tl span {
    font-size: {{ section.settings.font_size_text | append: 'px !important'  }};
    font-weight: {{ section.settings.font_weight_text }};
    font-style: {{ section.settings.font_style_text }};  
    color:{{ section.settings.color_text }} ;
}

.product-wrapper .sec-tl h2 {
    font-size: {{ section.settings.font_size_text_heading_2 | append: 'px !important' }};
    font-weight: {{ section.settings.font_weight_text_heading_2 }};
    font-style: {{ section.settings.font_style_text_heading_2 }};
    color: {{ section.settings.color_text }}; 
}
 </style>

<section>
    <div class="product-wrapper featured-wrapper">  
        <div class="container">
            <div class="sec-tl">
                <span>{{ section.settings.heading1 }}</span>
                <h2>{{ section.settings.heading2 }}</h2>
            </div>
            <div class="product-slider">
                {% for product in collections.all.products %}
                <div class="product-box">
                    <div class="product-image">
                        {% assign images = product.media | where: 'media_type', 'image' %}

                                          {% for image in images limit: 2  %}
                                          {%- if forloop.first -%}
                                         {{- image | image_url: height:575, width:500, crop:'center' | image_tag: class:'primary-image'}}
                                         {% else %}
                                          {{- image | image_url: height:575, width:500, crop:'center' | image_tag: class:'secondary-image'}}
                                          {%- endif -%}

                                          {% endfor %}

                        <div class="product-discount">
                            +30%
                        </div>
                        <a href="#" class="product-wishlist"><svg width="15" height="15" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 67.949 67.949" style="enable-background:new 0 0 67.949 67.949;" xml:space="preserve">
                                <g>
                                    <path d="M62.49,11.239c-7.39-7.388-19.412-7.388-26.8,0l-1.716,1.715l-1.715-1.715c-7.388-7.389-19.411-7.389-26.799,0   c-7.238,7.238-7.285,18.711-0.109,26.688c6.545,7.273,25.848,22.986,26.667,23.651c0.556,0.452,1.225,0.672,1.89,0.672   c0.022,0,0.044,0,0.065-0.001c0.688,0.032,1.381-0.204,1.955-0.671c0.819-0.665,20.124-16.378,26.671-23.652   C69.774,29.95,69.727,18.477,62.49,11.239z M58.139,33.913c-5.103,5.669-19.13,17.361-24.166,21.51   c-5.036-4.148-19.06-15.839-24.162-21.509C4.805,28.35,4.758,20.426,9.702,15.482c2.525-2.524,5.841-3.787,9.157-3.787   s6.632,1.262,9.157,3.787l3.772,3.772c0.449,0.449,1.015,0.717,1.609,0.811c0.964,0.207,2.01-0.062,2.76-0.81l3.774-3.773   c5.051-5.049,13.267-5.048,18.315,0C63.19,20.426,63.143,28.35,58.139,33.913z" />
                                </g>
                            </svg></a>
                        <div class="product-size">
                            <a href="#">S</a>
                            <a href="#">M</a>
                            <a href="#">XL</a>
                            <a href="#">XXL</a>
                        </div>
                        <a href="#" class="product-cart"><svg xmlns="http://www.w3.org/2000/svg" clip-rule="evenodd" fill-rule="evenodd" height="25" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" width="25">
                                <g id="Icon">
                                    <path d="m21.74 9.121c.036-.217-.026-.439-.168-.607-.143-.167-.352-.264-.572-.264h-18c-.22 0-.429.097-.572.264-.142.168-.204.39-.168.607 0 0 1.022 6.244 1.525 9.323.218 1.33 1.367 2.306 2.714 2.306h11.002c1.347 0 2.496-.976 2.714-2.306zm-1.623.629-1.383 8.452c-.099.604-.621 1.048-1.233 1.048-2.771 0-8.231 0-11.002 0-.612 0-1.134-.444-1.233-1.048 0 0-1.383-8.452-1.383-8.452z" />
                                    <path d="m18.643 8.614-3-5c-.213-.355-.674-.47-1.029-.257s-.47.674-.257 1.029l3 5c.213.355.674.47 1.029.257s.47-.674.257-1.029z" />
                                    <path d="m6.643 9.386 3-5c.213-.355.098-.816-.257-1.029s-.816-.098-1.029.257l-3 5c-.213.355-.098.816.257 1.029s.816.098 1.029-.257z" />
                                    <path d="m11.25 12.5v4c0 .414.336.75.75.75s.75-.336.75-.75v-4c0-.414-.336-.75-.75-.75s-.75.336-.75.75z" />
                                    <path d="m7.25 12.5v4c0 .414.336.75.75.75s.75-.336.75-.75v-4c0-.414-.336-.75-.75-.75s-.75.336-.75.75z" />
                                    <path d="m15.25 12.5v4c0 .414.336.75.75.75s.75-.336.75-.75v-4c0-.414-.336-.75-.75-.75s-.75.336-.75.75z" />
                                    <path d="m22 8.25h-20c-.414 0-.75.336-.75.75s.336.75.75.75h20c.414 0 .75-.336.75-.75s-.336-.75-.75-.75z" />
                                </g>
                            </svg></a>
                    </div>
                    <div class="product-content">
                        <p class="brand-name">BRAND: <a href="#">LIONESS</a></p>
                        <h3><a href="{{ product.url }}">{{ product.title }} <br></a></h3>
                        <div class="product-color">
                            <a href="#" class="active"></a>
                            <a href="#"></a>
                            <a href="#"></a>
                            <a href="#"></a>
                        </div>
                        <div class="product-bottom">
                            <span class="product-price">{{ product.price | money }} <del>{{ product.compare_at_price | money }}</del></span>
                            <div class="product-rating">
                                <svg viewBox="0 0 24 24" width="18" height="18">
                                    <path d="M21.984 9.234l-7.172-0.609-2.813-6.609-2.813 6.609-7.172 0.609 5.438 4.734-1.641 7.031 6.188-3.75 6.188 3.75-1.641-7.031zM12 15.422l-3.75 2.25 0.984-4.266-3.328-2.906 4.406-0.375 1.688-4.031 1.688 4.031 4.406 0.375-3.328 2.906 0.984 4.266z"></path>
                                </svg>
                                12
                            </div>
                        </div>
                    </div>
                </div>
                 {% endfor %}
            </div>
        </div>
    </div>
</section>



<script>
   
   $('.product-slider').slick({
    infinite: true,
    speed: 800,
    autoplaySpeed: 4500,
    autoplay: true,
    arrows: false,
    dots: true,
    slidesToShow: 4,
    slidesToScroll: 3,
    onhover: true,
    responsive: [{
            breakpoint: 1200,
            settings: {
                slidesToShow: 3,
                slidesToScroll: 2,
                infinite: true,
            }
        },
        {
            breakpoint: 992,
            settings: {
                slidesToShow: 3,
                slidesToScroll: 2,
                infinite: true,
            }
        },
        {
            breakpoint: 767,
            settings: {
                slidesToShow: 2,
                slidesToScroll: 1,
                dots: false,
            }
        },
        {
            breakpoint: 480,
            settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
                dots: false  
            }
        }
    ]
});

    
</script>

{% schema %}
    {
       "name": "t:sections.featured-products.name",
       "settings": [
            {
               "type":"collection",
                "id":"collection",
                "label":"Collection"
            },
            {
                "type": "header",
                "content": "t:sections.featured-products.Heading-1"
            },
            {
                 "type": "text",
                 "id": "heading1",
                 "label": "Heading-1-Text",
                 "default": "Enter Text"
             },
             {
            "type": "color",
            "id": "color_text",
            "label": "t:settings_schema.colors.settings.colors_text.label__1",
            "default": "#b05d5d"
         },  
         {
            "type": "range",
            "id": "font_size_text",
            "label": "t:settings_schema.typography.settings.font_size.label",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 12
        },
        {
            "type": "select",
            "id": "font_style_text",
            "label": "t:settings_schema.typography.settings.font_style.label",
            "default": "normal",
            "options": [
            {
                "value": "normal",
                "label": "t:settings_schema.typography.settings.font_style.options__1"
            },
            {
                "value": "italic",
                "label": "t:settings_schema.typography.settings.font_style.options__2"
            },
            {
                "value": "oblique",
                "label": "t:settings_schema.typography.settings.font_style.options__3"
            }]
        },
        {
            "type": "select",
            "id": "font_weight_text",
            "label": "t:settings_schema.typography.settings.font_weight.label",
            "default": "500",
            "options": [
            {
                "value": "400",
                "label": "t:settings_schema.typography.settings.font_weight.options__1"
            },
            {
                "value": "500",
                "label": "t:settings_schema.typography.settings.font_weight.options__2"
            },
            {
                "value": "600",
                "label": "t:settings_schema.typography.settings.font_weight.options__3"
            },
            {
                "value": "700",
                "label": "t:settings_schema.typography.settings.font_weight.options__4"
            },
            {
                "value": "800",
                "label": "t:settings_schema.typography.settings.font_weight.options__5"
            },
            {
                "value": "900",
                "label": "t:settings_schema.typography.settings.font_weight.options__6"
            }] 
        },   

           {
                "type": "header",
                "content": "t:sections.featured-products.Heading-2"
            },
             {
                 "type": "text",
                 "id": "heading2",
                 "label": "Heading-2-Text",
                 "default": "Enter Text"
             },
           
         {
            "type": "range",
            "id": "font_size_text_heading_2",
            "label": "t:settings_schema.typography.settings.font_size.label",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 12
        },
        {
            "type": "select",
            "id": "font_style_text_heading_2",
            "label": "t:settings_schema.typography.settings.font_style.label",
            "default": "normal",
            "options": [
            {
                "value": "normal",
                "label": "t:settings_schema.typography.settings.font_style.options__1"
            },
            {
                "value": "italic",
                "label": "t:settings_schema.typography.settings.font_style.options__2"
            },
            {
                "value": "oblique",
                "label": "t:settings_schema.typography.settings.font_style.options__3"
            }]
        },
        {
            "type": "select",
            "id": "font_weight_text_heading_2",
            "label": "t:settings_schema.typography.settings.font_weight.label",
            "default": "500",
            "options": [
            {
                "value": "400",
                "label": "t:settings_schema.typography.settings.font_weight.options__1"
            },
            {
                "value": "500",
                "label": "t:settings_schema.typography.settings.font_weight.options__2"
            },
            {
                "value": "600",
                "label": "t:settings_schema.typography.settings.font_weight.options__3"
            },
            {
                "value": "700",
                "label": "t:settings_schema.typography.settings.font_weight.options__4"
            },
            {
                "value": "800",
                "label": "t:settings_schema.typography.settings.font_weight.options__5"
            },
            {
                "value": "900",
                "label": "t:settings_schema.typography.settings.font_weight.options__6"
            }]
        }
                
       ]
    }
    {% endschema %}