<style>
    .season_title-{{section.id}} {
   font-size:{{ section.settings.font_size_title}}px !important;
   font-weight:{{ section.settings.font_weight_title }} !important ;
   font-style:{{ section.settings.font_style_title }} !important ;
}

.season_btn-{{block.id}}{
    font-size:{{ section.settings.font_size_text}}px !important;
            font-weight:{{ section.settings.font_weight_text }} !important ;
            font-style:{{ section.settings.font_style_text }} !important ;
}



 </style>
<section class="season-area">
  <div class="season-wrapper">  
    <div class="row">
      {% for block in section.blocks %}
        <div class="col-lg-4 col-md-6 col-sm-6">
          <style>
                            .season_title-{{block.id}} {
                               color:{{ block.settings.color_text }} !important;
                            }
                        
                            .season_btn-{{block.id}}{
                              color:{{block.settings.btn_clr}} !important;
                              background:{{block.settings.bg_clr}} !important;
                            }
                            .season_btn-{{block.id}}:hover{
                              color:{{block.settings.btn_clr_hover}} !important;
                              background:{{block.settings.bg_clr_hover}} !important;
                            }
                            </style > 
          <div class="season-box">
            {% if block.settings.image1 != blank %}
                <img src="{{ block.settings.image1 | img_url: 'large' }}" alt="Your Alt Text">
                 {% endif %}
        </figure>
            <div class="season-content">
              <h3 class="season-heading season_title-{{block.id}} season_title-{{section.id}}" >{{ block.settings.title1 }}</h3>
              <a class="season-button button-line season_btn-{{block.id}}" href="#">{{ block.settings.linktext }}</a>
            </div>
            <a class="season-link" href="#"></a>
          </div>
        </div>
      {% endfor %}
      <div class="col-lg-2 col-md-6 col-sm-6">  
        <div class="season-box">
           
            <img src="{{ section.settings.image4 | img_url: 'large' }}" alt="Your Alt Text">
    
          <a class="season-link" href="#"></a>
        </div>
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="season-box">
            <img src="{{ section.settings.image5 | img_url: 'large' }}" alt="Your Alt Text">
          <a class="season-link" href="#"></a>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="season-box">
            <img src="{{ section.settings.image6 | img_url: 'large' }}" alt="Your Alt Text">
          <a class="season-link" href="#"></a>
        </div>
      </div>
    </div>
  </div>  
</section> 


{% schema %}
    {
        "name": "t:sections.season-area.name",
        "max_blocks":6,
        "settings": [
            {
              "type": "image_picker",
              "id": "image4",
              "label": "Image 4"
            },
            {
              "type": "image_picker",
              "id": "image5",
              "label": "Image 5"
            },
            {
              "type": "image_picker",   
              "id": "image6",
              "label": "Image 6"
            },
            {
            "type": "range",
            "id": "font_size_title",
            "label": "t:settings_schema.typography.settings.font_size.label",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 12
        },
        {
            "type": "select",
            "id": "font_style_text_title",
            "label": "t:settings_schema.typography.settings.font_style.label",
            "default": "normal",
            "options": [
            {
                "value": "normal",
                "label": "t:settings_schema.typography.settings.font_style.options__1"
            },
            {
                "value": "italic",
                "label": "t:settings_schema.typography.settings.font_style.options__2"
            },
            {
                "value": "oblique",
                "label": "t:settings_schema.typography.settings.font_style.options__3"
            }]
        },
        {
            "type": "select",
            "id": "font_weight_text_title",
            "label": "t:settings_schema.typography.settings.font_weight.label",
            "default": "500",
            "options": [
            {
                "value": "400",
                "label": "t:settings_schema.typography.settings.font_weight.options__1"
            },
            {
                "value": "500",
                "label": "t:settings_schema.typography.settings.font_weight.options__2"
            },
            {
                "value": "600",
                "label": "t:settings_schema.typography.settings.font_weight.options__3"
            },
            {
                "value": "700",
                "label": "t:settings_schema.typography.settings.font_weight.options__4"
            },
            {
                "value": "800",
                "label": "t:settings_schema.typography.settings.font_weight.options__5"
            },
            {
                "value": "900",
                "label": "t:settings_schema.typography.settings.font_weight.options__6"
            }]
        }
     ],
        "blocks": [
            {
                "type": "season-area",
                "name": "season-area",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image1",
                        "label": "Image 1"
                    },
                    {
                        "type": "text",
                        "id": "title1",   
                        "label": "Title"
                        
                    },
                    {
                     "type": "color",
                     "id": "color_text",
                     "label": "t:settings_schema.colors.settings.colors_text.label__1",
                     "default": "#b05d5d"
                    },  
                
                    {
                        "type": "url",
                        "id": "linkshop",
                        "label": "Products Link"
                    },
                    {
                   "type": "color",
                   "id": "bg_clr",
                 "label": "Button Background",
                  "default": "#446084"
                   },
                  {
                   "type": "color",
                    "id": "btn_clr",
                    "label": "Button Title",
                    "default": "#fff"
                  },
                 {
                  "type": "color",
                 "id": "bg_clr_hover",
                 "label": "Hover Button Background",
                  "default": "#364c69"
                  },
                  {
                  "type": "color",
                  "id": "btn_clr_hover",
                  "label": "Hover Button Title",
                  "default": "#fff"
    },
                    {
                        "type": "text",
                        "id": "linktext",
                        "label": "Shop Link Text",
                        "default": "Shop Now"
                    }
                  
                ]
            }
        ],

        "presets": [
            {
                "name": "season-area"
            }
        ]
    }
    {% endschema %}
    
    
