<section>
    <div class="ctm-review-wrapper" style="background-image: url('assets/images/resources/banner-5.png');">
        <div class="ctm-inner-wrapper">
            <div class="container">
                <div class="sec-tl home2">
                    <span>{{ section.settings.heading1 }}</span>
                    <h2>{{ section.settings.heading2 }}</h2>
                </div>
                <div class="ctm-review-inner-wrapper">
                    <div class="review-slider">
                        <div class="ctm-review-box">
                            {% for block in section.blocks %}
                            <div class="ctm-review-content">
                                <p>{{ block.settings.text1 }}</p>
                            </div>
                            <div class="ctm-review-img-wrapper">
                                <div class="ctm-review-rating">
                                    <!-- Star icons SVG code -->
                                </div>
                                <div class="ctm-author-name">
                                    <h5>{{ block.settings.author1 }}</h5>
                                    <span>{{ block.settings.text2 }}</span>
                                </div>
                            </div>
                            <div class="ctm-review-image">
                                {% if block.settings.image1 != blank -%}
                                <img src="{{ block.settings.image1 | img_url: 'large' }}" alt="Your Alt Text">
                                {% endif %}
                                <div class="ctm-review-quotes">
                                    <!-- Quotes SVG code -->
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="ctm-arrow">
                        <div class="prv-btn slick-arrow">
                            <span>
                                <!-- Previous arrow SVG code -->
                            </span>
                        </div>
                        <div class="next-btn slick-arrow">
                            <span>
                                <!-- Next arrow SVG code -->
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
