<style>
  .upload-photo-content h2 {
    color: {{ section.settings.color_text }};
   font-size: {{ section.settings.font_size_text | append: 'px !important' }};
   font-style:{{ section.settings.font_style_text }};
   font-weight: {{ section.settings.font_weight_text }};
}

.upload-photo-content p {
    color: {{ section.settings.color_text }};
   font-size: {{ section.settings.font_size_text_description | append: 'px !important' }};
   font-style:{{ section.settings.font_style_text_description }};
   font-weight: {{ section.settings.font_weight_text_description }};
}

.upload-photo-content .theme-btn {
    color:{{section.settings.btn_clr}} !important;
    background:{{section.settings.bg_clr}} !important;
}

.upload-photo-content .theme-btn :hover{
    color:{{section.settings.btn_clr_hover}} !important;
     background:{{section.settings.bg_clr_hover}} !important;
}


 </style>
<section>
    <div class="upload-photo-wrapper">
        <div class="container">
            <div class="upload-photo-inner-wrapper">
                <div class="upload-photo-box">
                    <div class="upload-photo-content">
                        <h2>{{ section.settings.heading }}</h2>
                        <p>{{ section.settings.description }}</p>
                        <a href="#" class="theme-btn">{{ section.settings.linktext }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "t:sections.upload-photo2.name",
        "settings": [
            
        {
          "type": "header",
          "content": "t:sections.upload-photo2.Heading-1"
        },
            {
                "type": "text",
                "id": "heading",
                "label": "Heading-1-Text",
                "default": "Enter Text"
            },
            
            {
                "type": "text",
                "id": "heading1",
                "label": "Heading-1-Text",
                "default": "Enter Text"
            },

            {
            "type": "color",
            "id": "color_text",
            "label": "t:settings_schema.colors.settings.colors_text.label__1",
            "default": "#b05d5d"
        },
        {
            "type": "range",
            "id": "font_size_text",
            "label": "t:settings_schema.typography.settings.font_size.label",
            "min": 0,
            "max": 60,
            "step": 1,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 12
        },  
        {
            "type": "select",
            "id": "font_style_text",
            "label": "t:settings_schema.typography.settings.font_style.label",
            "default": "normal",
            "options": [
            {
                "value": "normal",
                "label": "t:settings_schema.typography.settings.font_style.options__1"
            },
            {
                "value": "italic",
                "label": "t:settings_schema.typography.settings.font_style.options__2"
            },
            {
                "value": "oblique",
                "label": "t:settings_schema.typography.settings.font_style.options__3"
            }]
        },
      
        {
            "type": "select",
            "id": "font_weight_text",
            "label": "t:settings_schema.typography.settings.font_weight.label",
            "default": "500",
            "options": [
            {
                "value": "400",
                "label": "t:settings_schema.typography.settings.font_weight.options__1"
            },
            {
                "value": "500",
                "label": "t:settings_schema.typography.settings.font_weight.options__2"
            },
            {
                "value": "600",
                "label": "t:settings_schema.typography.settings.font_weight.options__3"
            },
            {
                "value": "700",
                "label": "t:settings_schema.typography.settings.font_weight.options__4"
            },
            {
                "value": "800",
                "label": "t:settings_schema.typography.settings.font_weight.options__5"
            },
            {
                "value": "900",
                "label": "t:settings_schema.typography.settings.font_weight.options__6"
            }]
        },



            {
          "type": "header",
          "content": "t:sections.upload-photo2.Description-1"
        },
            {
                "type": "text",
                "id": "description",
                "label": "Description-1",
                "default": "Enter Text"
            },


        {
            "type": "range",
            "id": "font_size_text_description",
            "label": "t:settings_schema.typography.settings.font_size.label",
            "min": 0,
            "max": 18,
            "step": 1,
            "unit": "t:sections.layout.mg_desktop.unit",
            "default": 12
        },  
        {
            "type": "select",
            "id": "font_style_text_description",
            "label": "t:settings_schema.typography.settings.font_style.label",
            "default": "normal",
            "options": [
            {
                "value": "normal",
                "label": "t:settings_schema.typography.settings.font_style.options__1"
            },
            {
                "value": "italic",
                "label": "t:settings_schema.typography.settings.font_style.options__2"
            },
            {
                "value": "oblique",
                "label": "t:settings_schema.typography.settings.font_style.options__3"
            }]
        },
      
        {
            "type": "select",
            "id": "font_weight_text_description",
            "label": "t:settings_schema.typography.settings.font_weight.label",
            "default": "500",
            "options": [
            {
                "value": "400",
                "label": "t:settings_schema.typography.settings.font_weight.options__1"
            },
            {
                "value": "500",
                "label": "t:settings_schema.typography.settings.font_weight.options__2"
            },
            {
                "value": "600",
                "label": "t:settings_schema.typography.settings.font_weight.options__3"
            },
            {
                "value": "700",
                "label": "t:settings_schema.typography.settings.font_weight.options__4"
            },
            {
                "value": "800",
                "label": "t:settings_schema.typography.settings.font_weight.options__5"
            },
            {
                "value": "900",
                "label": "t:settings_schema.typography.settings.font_weight.options__6"
            }]
        },


            
        {
        "type": "color",
        "id": "bg_clr",
        "label": "Button Background",
        "default": "#446084"
    },
    {
        "type": "color",
        "id": "btn_clr",
        "label": "Button Title", 
        "default": "#fff"
    },
    {
        "type": "color",
        "id": "bg_clr_hover",
        "label": "Hover Button Background",
        "default": "#364c69"
    },
    {
        "type": "color",
        "id": "btn_clr_hover",
        "label": "Hover Button Title",
        "default": "#fff"
    },
            {
                "type": "url",
                "id": "link1",
                "label": "Link 1"
            },

            {
                "type": "text",
                "id": "linktext",
                "label": "Link text",
                "default": "Enter Text"
            }
        ],
        "presets": [
            {
                "name": "t:sections.upload-photo2.name"
            }
        ]
    }
    {% endschema %}
    
